/*DUCUMENT INFORMATION
    - Document : Portfolio
    - Version 1.0.0
    - Autor : Jonathan

*/

/* COLORS
    - Defaut Body text    #eee
    - h1                  #eee
    - h2                  #000
    - h3

    - button
    - button:hover
    - icon                #008000   

    - Border

    */

/* FONTS
    - Default           
    - Subtitle

/* CSS DIRECTORY

    1. =GLOBAL
    2. =HEADER
    3. =PRODUITS

*/

// ============================================================================================================================
                                                // GLOBAL
// ============================================================================================================================

* {
    box-sizing: border-box;
}

html{
    max-width: 100%;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #685c50;
}
a{
    text-decoration: none;
    text-transform: none;
    color: white;
}
// ============================================================================================================================
                                                // HEADER
// ============================================================================================================================

.accueil{
    background-image: url(../uploads/desktop.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
	a span{
		color: #363636;
		-webkit-text-stroke: .08px white;
	}
}

.navbar-nav{
	align-items: center;
}
.show{
	background-color: rgba(0, 0, 0, 0.822) ;
}
.navbar {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
	font-family: 'League Spartan', sans-serif;
	.nom{
		font-size: 1.5rem;
	}

    a {
        color: white ;
         font-weight: 600;
         font-size: 1rem;
         text-transform: uppercase;
         font-style: normal;
         position: relative;
    }
    li {
         a:hover {
             text-decoration: none ;
         }
         a::after {
             content: '';
             transform-origin: center; 
             transform: scaleX(0);
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             height: .1em; 
             background: white;
             z-index: 2;
             transition: transform .3s;
         }
         a:hover::after {
             transform: scaleX(1);
         }
		}
		
		
	}
	.navbar-toggler-icon{
		background-color: black;
	}
	.navbar-dark .navbar-toggler {
		color: rgb(255, 255, 255);
		border-color: rgb(255, 255, 255);
	}
 
 .navbar-default {
     background: black !important;
     transition: background-color 1s linear;
 }
 .pageTitre{
     display: flex;
     justify-content: center;
     height: 100vh;
     color: white;
     h1{
         font-size: 6rem;
         text-transform: uppercase;
         -webkit-text-stroke: 1px black;
         font-family: arial; color: white;
     }
 }
 .titre{
	display: flex;
	align-items: center;
 }
 @media (max-width: 1145px){
	 .navbar-expand-md .navbar-nav .nav-link {
		 padding-right: 0.1rem;
		 padding-left: 0.1rem;
	 }
 }
 @media (max-width: 1045px){
	.navbar-expand-md .navbar-nav .nav-link a {
		font-size: .8rem;
	}
}
@media (max-width: 930px){
	.navbar .nom {
		font-size: 1rem;
	}
}
@media (max-width: 833px){
	.navbar-expand-md .navbar-nav .nav-link a {
		font-size: .6rem;
	}
}

 @media (max-width: 811px) { 
	.accueil .pageTitre .text-center{
		padding-right: 0px;
		padding-left: 0px;
		h1{
			font-size: 3rem;
		}
	}
	.liCaroussel .blocImgCaroussel {
		font-size: .7rem;
	}
	.blocCarousselProduct .carousselProduct {
		width: 78%;
	}
	.blocCarousselProduct .liCaroussel{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.navbar-toggler{
		background-color: black;
	}
	
  }

 // ============================================================================================================================
                                                // PRESENTATION
// ============================================================================================================================

.presentation{
    background-color: #685c50;
    padding-top: 2em;
	.photoPresentation{
		width: 70%;
	}
	.blocPhoto{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2em;
	}
}




.titrePresentation, .titreTechnologies{
    margin-bottom: 1em;
	font-family: 'League Spartan', sans-serif;

}
h2 {
	color: white;
	font-family: 'League Spartan', sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	position: relative;
    text-align: center;
	}
h2:hover {
    text-decoration: none !important;
}
h2::after {
    content: '';
    transform-origin: center; 
    transform: scaleX(0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.03em; 
    background: white;
    z-index: 2;
    transition: transform .3s;
}
h2:hover::after {
    transform: scaleX(0.5);
}
.textePresentation{
    text-align: justify;
    color: white;
    padding-bottom: 2em;
	p{
		font-family: 'League Spartan', sans-serif;
	}
}
 // ============================================================================================================================
                                                // BOUTON REALISATION
// ============================================================================================================================

.boutonRealisation{
    background-image: url(../uploads/clavier.jpg);
    height: 25vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    .blocRealisation{
        text-align: center;
        border: white 5px solid;
        padding: .8em;
        font-size: 2rem;
		.lienRealisation{
			text-transform: uppercase;
			font-weight: bold;
		}
		.lienRealisation:hover{
			text-decoration: none;
			color: #685c50;

		}
    }
	.blocRealisation:hover{
		border:#685c50 5px solid;
	}
}
@media (max-width: 912px){
	.boutonRealisation .blocRealisation{
        font-size: 1.7rem;
	}
}
 // ============================================================================================================================
                                                // TECHNOLOGIES
// ============================================================================================================================

.blocTechno{
    display: flex;
    justify-content: space-between;
    padding-bottom: 4em;
}
@media (max-width: 912px){
	.blocTechno{
		justify-content: center;
	}
}
 // ============================================================================================================================
                                                // caroussel weather
// ============================================================================================================================
ul {
    list-style-type: none;
    }
.blocCarousselProduct{
    height: 45vh;
    width: 100%;
    list-style-type:none;
}
.carousselProduct {
    position: absolute;
    width: 94%;
    list-style-type:none;
    display: flex;
    margin-left: 4em;
    margin-top: 4em;
}

.liCaroussel{
    width: 15%;
    list-style-type: none;
    position: absolute;
    top: 0;
    height: 200px; 
    opacity: 0;
    text-align: center;
    transition: 1s opacity; 
    color: white;
    .pImgCaroussel{
        text-transform: uppercase;
		font-weight: bold;
		background-color: rgba(255, 255, 255, 0.26);
		border-radius: 10px;
		padding: 5px;
    }
}
.active {
    opacity: 1;
}

.blocImgCaroussel {
    font-family: sans-serif;
    font-size: 1rem;
    color: #646566;
    line-height: 1.5em;
    .imgCarousselProductStar{
        width: 100px;
        height: 15vh;
    }
}

@media (max-width: 912px){
	
	.blocCarousselProduct .carousselProduct {
		width: 100%;
		margin-left: 0px;
	}
	.liCaroussel{
		width: 21%;
	}
	.blocCarousselProduct {
		height: 40vh;
	}

}



// @media (max-width: 807px){
//     .liCaroussel, .pImgCaroussel {
//       font-size: .5rem;
//     }
//   }
// @media (max-width: 1288px){
//     .blocImgCaroussel .imgCarousselProductStar{
//         width: 150px;
//         height: 20vh;
//     }
//   }
//   @media (max-width: 720px){
//     .blocImgCaroussel .imgCarousselProductStar{
//         width: 120px;
//         height: 22vh;
//     }
//   }
//   @media (max-width: 676px){
//     .blocImgCaroussel .imgCarousselProductStar{
//         width: 96px;
//         height: 14vh;
//     }
//   }
//   @media (max-width: 576px){
//     .blocImgCaroussel .imgCarousselProductStar{
//         width: 70px;
//         height: 10vh
//     }
//   }
//   @media (max-width: 464px){
//     .blocImgCaroussel .imgCarousselProductStar{
//         width: 60px;
//         height: 7vh
//     }
//   }

.meteoCarou{
    background-image: url(../uploads/meteo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
 // ============================================================================================================================
                                                // COMPETENCES
// ============================================================================================================================

.competences{
    color: white;
	font-family: 'League Spartan', sans-serif;
	h2{
		margin-top: 2em;
	}
}
.sectionCompetence{
	display: flex;
	justify-content: center;
	margin-bottom: 4em;
}

.competences img{
    margin-top: 4em;
    margin-bottom: 4em;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px -0px 10px 12px #222222;
}

.titreCompetence{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: center;
	font-family: 'League Spartan', sans-serif;
}

.texteCompetence{
    margin: 1em;
	text-align: center;
}
.blocCompetence{
	border: solid white 5px;
	border-radius: 20px;
	margin: 3px;
}
 // ============================================================================================================================
                                                // PORTFOLIO
// ============================================================================================================================
.portFolio{
	h3{
		font-family: 'League Spartan', sans-serif;
		text-align: center;
		margin-top: 1em;
		color: white;
	}
	h2{
		font-family: 'League Spartan', sans-serif;
	}
	.containerRealisation{
		display: flex;
		justify-content: center;
	}
	.titre-portfolio{
		background-color: rgba(0, 0, 0, 0.712);
		color: white;
		font-family: 'League Spartan', sans-serif;
		font-weight: bold;
		text-align: center;
		font-size: 2.5rem;

	}
	.lienSite{
		font-size: 2rem;
		background-color: #fff;
		width: 100%;
		text-align: center;
		color: black;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		.lienSite:hover{
			background-color: rgb(0, 0, 0) ;
			color: white;	
		}
		span{
			margin-right: 20px;

		}
		i{
			margin-right: 10px;
		}
	}
	.lienGit{
		font-size: 2rem;
		background-color: #fff;
		width: 100%;
		text-align: center;
		color: royalblue;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		.git1, .git2{
			font-size: 2rem;
		}
		.git1{
			margin-right: 3em;
		}
		.git2{
			margin-left: 3em;
		}
	}
	.lienGit:hover{
		background-color: royalblue
	}
}
	.imgRealisation{
		width: 100%;
		margin-top: 1em;
		border: 2px solid black;
		box-shadow: 2px 2px 2px black;
		img{
			width: 100%;
			height: 40vh;
			vertical-align: middle;
		}
	}
	.overlay{
		margin-top: 1em;
		margin-left: 1em;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .9);
		color: white;
		width: 96%;
		height: 95%;
		transform: scale(0);
		transition: 1s;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		a:hover{
			text-decoration: none;
			text-transform: none;
			color: white;
			background-color: #685c50;

		}
	}
	.imgRealisation:hover .overlay{
		transform: scale(1) ;
	}
	.portFolio .container-fluid .containerRealisation .blocRea .overlay .resume p:first-child{
		background-color: white;
		color: black;
		width: 100%;
		text-align: center;
	}
	.portFolio .container-fluid .containerRealisation .blocRea .overlay .resume p:nth-child(2){
		background-color: rgba(255, 255, 255, 0.219);
		border-radius: 5px;
		border: solid white 5px;
		color: white;
		width: 100%;
		text-align: center;
	}
	.portFolio .container-fluid .containerRealisation .blocRea .overlay .resume {
		font-size: 15px;
	}
	.portFolio .container-fluid .containerRealisation .blocRea .overlay .fonctionnalite p{
		font-size: 15px; 
		text-align: center;
		font-weight: bold;
	}
	@media screen and (max-width: 912px) {

		.imgRealisation img{
				height: 15vh;
			}
	}
	
	@media screen and (max-width: 1497px) {
		.portFolio .container-fluid .containerRealisation .blocRea .overlay .resume p u{
			font-size: 15px;
			font-weight: bold;
		}
		.portFolio .container-fluid .containerRealisation .blocRea .overlay .resume p{
			font-size: 12px;
			text-align: center;
		}
		.portFolio .container-fluid .containerRealisation .blocRea .overlay .fonctionnalite p{
			font-size: 12px; 
			text-align: center;
		}
	}

	@media screen and (max-width: 1410px) {
		.portFolio .lienGit{
			font-size: 1rem;
		}
		.portFolio .lienSite{
			font-size: 1rem;
		}
	}

	@media screen and (max-width: 1267px) {
	.portFolio .titre-portfolio{
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 912px) {
	.portFolio .titre-portfolio{
		font-size: 1.2rem;
	}
	.overlay{
		display: none;
	}
}
@media screen and (max-width: 414px) {
	.overlay{
		display: none;
	}
	.portFolio .lienGit{
		display: none;
	}
	.portFolio .lienSite{
		display: none;
	}
	.imgRealisation img{
		height: 25vh;
	}
	.portFolio .container-fluid .containerRealisation .blocRea .overlay .resume{
		display: none;
	}
	.portFolio .lienGit{
		font-size: .8rem;
		.git1, .git2{
			font-size: 1.5rem;
		}
	}
	.portFolio .lienSite{
		font-size: .8rem;
	}
	.portFolio .lienSite{
		font-size: .8rem;
	}
	.overlay{
		width: 92%;
		height: 88%;

	}
}




 // ============================================================================================================================
                                                // PARCOURS TIMELINE
// ============================================================================================================================

.parcours h2{
	margin-top: 2em;
	margin-bottom: 2em;
}

/* TIMELINE
			–––––––––––––––––––––––––––––––––––––––––––––––––– */
			.timeline2 {
				overflow-y: scroll;
				overflow-x: hidden;
				height: 550px;
				top: calc(100%-600px);
				position: relative;
				scroll-behavior:  smooth ;
				 
			}
			.timeline2   *, .timeline2   *::before, .timeline2   *::after { 
				font: normal 16px/1.5 "Helvetica Neue", sans-serif;
				color: #fff;
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			.timeline2::-webkit-scrollbar {
				width: 12px;
				background-color: #F5F5F5;
			}
			 
			.timeline2::-webkit-scrollbar-track {
				box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				border-radius: 10px;
				background-color: #F5F5F5;
			}
			 
			.timeline2::-webkit-scrollbar-thumb {
				border-radius: 10px;
				box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: #555;
			}
			 
			.timeline2 ul {
			  background: #575757;
			  /* padding: 50px 0; */
			}

			.timeline2 ul li {
			  list-style-type: none;
			  position: relative;
			      width: 2px;/* width: 6px; */
			  margin: 0 auto;
				padding-top: 10px;/* 50px; */
				padding-bottom: 10px;/* padding-bottom: 20px; = center padding-bottom: 10px; = center */
			 background: #fff; /* background: black;  */
			  
				border-left: 3px double white;
				
			}

			 
			// .timeline2 ul li::after {
			//   content: '';
			//   position: absolute;
			//   left: 50%;
			//   top: 30px; /* bottom: 0;  bottom: 50%;=center top: 30px;=top  */ 
			//   transform: translateX(-55%);/* transform: translateX(-50%); */
			//   -webkit-transform: translateX(-55%);
			//   width: 30px;
			//   height: 30px;
			//   border-radius: 50%;
			//   background: inherit;
			//   border: 2px solid #03A9F4;
			// }

			.timeline2 ul li div {
			  position: relative;
			  bottom: 0;
			  width: 400px;
			  padding: 15px;
			  background: #685c50;
			  
			}

			.timeline2 ul li div::before {
			  content: '';
			  position: absolute;
			  top: 20px; /* bottom: 7px; bottom: 50%;=center top: 20px;=top */
			  
			  width: 0;
			  height: 0;
			  border-style: solid;
			}

			.timeline2 ul li:nth-child(odd) div {
			  left: 45px;
			}

			.timeline2 ul li:nth-child(odd) div::before {
			  left: -15px;
				border-width: 16px 16px 16px 0;/* border-width: 8px 16px 8px 0; */
			  border-color: transparent #03A9F4 transparent transparent;
			}

			.timeline2 ul li:nth-child(even) div {
			  left: -439px;
			}

			.timeline2 ul li:nth-child(even) div::before {
			  right: -15px;
			  	border-width: 16px 0 16px 16px; /* border-width: 8px 0 8px 16px; */
			  border-color: transparent transparent transparent #03A9F4;
			}
			
			
			.timeline2 ul li:nth-child(odd) .time {
				position: absolute;
				top: 20px;
				left: -100px;
				width: 90px;
			}
			.timeline2 ul li:nth-child(even) .time {
				position: absolute;
				top: 20px;
				right: -120px;
				width: 90px;
			}
			
			
			.timeline2 time {
			  display: block;
			  font-size: 1.2rem;
			  font-weight: bold;
			  margin-bottom: 8px;
			}


			/* EFFECTS
			–––––––––––––––––––––––––––––––––––––––––––––––––– */

			.timeline2 ul li::after {
				transition: background .5s ease-in-out;
				-webkit-transition: background .5s ease-in-out;
			}

			.timeline2 ul li.in-view::after {
			  background: #03A9F4;
			  border: 2px solid white;
			}

			.timeline2 ul li div {
			  visibility: hidden;
			  opacity: 0;
				transition: all .5s ease-in-out;
				-webkit-transition: all .5s ease-in-out;
			}

			.timeline2 ul li:nth-child(odd) div {
				transform: translate3d(200px, 0, 0);
				-webkit-transform: translate(200px, 0, 0);
			}

			.timeline2 ul li:nth-child(even) div {
				transform: translate3d(-200px, 0, 0);
				-webkit-transform: translate(-200px, 0, 0);
			}

			.timeline2 ul li.in-view div {
				transform: none;
				-webkit-transform: none;
			  visibility: visible;
			  opacity: 1;
			  /* disabled when arrow is on top position
			  border-radius: 10px;
			  */
			}
			
			.timeline2 ul li  .time {
				transition: all .5s ease-in-out;
				-webkit-transition: all .5s ease-in-out;
				transform: rotate(-90deg);
				-webkit-transform:rotate(270deg);
			}
			.timeline2 ul li.in-view  .time {
				transform: rotate(0deg);
				-webkit-transform:rotate(0deg);
			}

			/* GENERAL MEDIA QUERIES
			–––––––––––––––––––––––––––––––––––––––––––––––––– */

			@media screen and (max-width: 900px) {
			  .timeline2 ul li div {
				width: 250px;
			  }
			  .timeline2 ul li:nth-child(even) div {
				left: -289px;
				/*250+45-6*/
			  }
			}

			@media screen and (max-width: 600px) {
			  .timeline2 ul li {
				margin-left: 20px;
			  }
			  .timeline2 ul li div {
				width: calc(100vw - 120px);
			  }
			  .timeline2 ul li:nth-child(even) div {
				left: 45px;
			  }
			  .timeline2 ul li:nth-child(even) div::before {
				left: -15px;
				border-width: 16px 16px 16px 0; /* border-width: 8px 16px 8px 0;  */
				border-color: transparent #03A9F4 transparent transparent;
			  }
			  
				
				.timeline2 ul li:nth-child(odd) .time {
					position: absolute;
					top: 60px;
					left: -23px;
					width: 90px;
					/*
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);
					*/
					transform: rotate(0deg);
					-webkit-transform:rotate(0deg);
				}
				.timeline2 ul li:nth-child(even) .time {
					position: absolute;
					top: 60px;
					right: -67px;
					width: 90px;
					/*
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);
					*/
					transform: rotate(0deg);
					-webkit-transform:rotate(0deg);
				}
				.timeline2 ul li.in-view:nth-child(odd) .time {
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);					 
				}
				.timeline2 ul li.in-view:nth-child(even) .time {
					transform: rotate(-90deg);
					-webkit-transform:rotate(270deg);
				}
			  
			}
// ============================================================================================================================
                                                // CONTACT
// ============================================================================================================================

.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	h2{
		margin-top: 2em;
	}
	a{
		display: flex;
		text-decoration: none;
		flex-direction: column;
		align-items: center;
	}
	.lienCv{
		text-transform: uppercase;
		font-weight: bold;

	}
	.lienCv:hover{
		text-decoration: none;
		color: royalblue;
	}
	.bloc-cv{
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.image-cv{
		width: 20%;
		transition: transform .5s;
	}
	.image-cv:hover{
		transform: scale(4);
	}
	p{
		color: white;
		font-size: 1.5rem;
	}
	h3{
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		color: white;
	}
	.mailContact{
		font-size: 2rem;
		margin-top: 1em;
		margin-bottom: 1em;
		padding: 5px;
	}
	.mailContact:hover{
		background-color: royalblue;
		border-radius: 10px;
		color: white;
		

	}
	.reseaux{
		display: flex;
		font-size: 6rem;
		width: 30%;
		justify-content: space-around;
	}
	@media screen and (max-width: 414px) {
		.reseaux{
			width: 70%;
		}
	}
	.contenuContact{
		text-align: center;
	}
	.rgpd{
		background-color: black;
		color: white;
		width: 100%;
		height: 100%;
		text-align: center;
		margin-top: 1em;
		padding: 10px;
		margin-bottom: 0px;
	}
	
}

.typewriter{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.typewriter h3 {
    display: flex;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 0, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0px; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 6s steps(50, end),
      blink-caret .5s infinite;
      padding-left: 24px;
      animation-iteration-count: infinite;
}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 105% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 82, 4) }
  }
  @media screen and (max-width: 414px) {
	  .typewriter h3{
		  font-size: 1rem;
	  }
  }

  #scrollUp {
	width: 50%;
  }
  .imgFleche{
	  width: 50px;
  }